* {
	box-sizing: border-box;
	outline: 0 none;
}
html,
body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.container {
	/* width: 100%; */
	width: 80%;
	margin: 0 auto;
}
.container img.single {
	width: 50%;
	margin: 0;
}