* {
	box-sizing: border-box;
	outline: 0 none;
}
html,
body {
	height: 100%;
	font-family: 'Noto Sans Korean', dotum, '돋움', sans-serif;
	font-weight: 500;
	color: #333333;
	line-height: 1;
	background: #ffffff;
	/* -webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%; */
}
html.scroll-blocking {
	overflow: hidden;
}
b {
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

.for-a11y {
	position: absolute;
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	color: transparent;
	font-size: 1px;
	line-height: 1px;
	opacity: 0;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter: alpha(opacity=0);
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/* padding: 15px 0; */
	text-align: center;
	font-size: 0;
	z-index: 10;
	/* border-bottom: 3px solid #f0f0f0; */
	border-bottom: 2px solid #f0f0f0;
	background: #ffffff;
}
#header .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	max-width: 1100px;
	margin: 0 auto;
	/* padding: 10px 0 5px; */
	/* line-height: 49px; */
	vertical-align: middle;
}
#header nav {
}
#header .logo img {
	width: 125px;
	vertical-align: middle;
}
#header nav li {
	position: relative;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: #140d0d;
	margin-left: 52px;
}
#header nav li:before {
	position: absolute;
	top: 1px;
	right: -26px;
	content: '';
	width: 1px;
	height: 15px;
	background: #c5c5c5;
}
#header nav li:last-child:before {
	display: none;
}
#header nav li.active{
	position: relative;
	font-size: 18px;
	font-weight: 700;
	color: #e3001a;
}
#header nav li.active:after {
	position: absolute;
	/* top: 8px; */
	top: -10px;
	right: -11px;
	content: '';
	/* display: inline-block; */
	width: 7px;
	height: 7px;
	background: #e3001a;
	border-radius: 50%;
	transition: all 0.1s ease-out;
	/* vertical-align: top; */
	/* margin: 0 0 0 6px; */
}


/* header */

/* menu layer */

#menu-layer {
	display: none;
	padding: 88px 0;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	background: #ffffff;
	/*background: rgba(37,37,37,.9);*/
	/* transition: all 0.5s ease-in-out; */
	z-index: 10;
	overflow: auto;
}
#menu-layer .inner {
	height: 100%;
}
#menu-layer ul li {
	opacity: 0;
	visibility: hidden;
	transform: translateY(5px);
}
#menu-layer ul li a {
	display: block;
	padding: 18px 24px;
	background: url(../images/menu_arrow.png) 94% 50% / 8px 14.5px no-repeat;
}
#menu-layer ul li a .p-name {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
#menu-layer .dog {
	transform: rotate(-2deg);
	transform-origin: 50%;
	width: 94%;
	margin: 5% auto -30px;
}
.menu-transition-layer {
	position: fixed;
	z-index: 9;
	width: 0;
	height: 0;
	transform: scale(0);
	transform-origin: 100% 0%;
	top: 0;
	right: 0;
	border-radius: 50%;
	background-color: #ffffff;
}

/* menu layer */

button {
	font-family: 'Noto Sans Korean', dotum, '돋움', sans-serif;
	line-height: 1;
}
a.type-01 {
	position: relative;
	width: 278px;
	display: block;
	margin: 0 auto;
	padding: 23px 0;
	background-color: #e3001a;
	border-radius: 34px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: -0.05em;
	/* padding: 18px 0; */
	line-height: 1.2;
	text-align: center;
}
button.type-01 {
	background-color: #e3001a;
	border-radius: 26px;
	color: #ffffff;
	/* font-size: 16px; */
	font-size: 20px;
	/* font-size: calc(11px + 1.3vw); */
	font-weight: 800;
	letter-spacing: -0.05em;
	/* padding: 18px 0; */
	height: 52px;
	position: relative;
	line-height: 1.2;
}
button.with-icon:after {
	margin-left: 5px;
}

#container {
	height: 100%;
}
.content._main {
	min-height: 100%;
	/* padding: 147px 0 0; */

}
.content .section {
	position: relative;
	text-align: center;
}
.content .section:after {
	content: "";
	position: absolute;
	/* bottom: 0; */
	bottom: -9px;
	left: 0;
	right: 0;
	display: block;
	height: 12px;
	background-color: #e2e4e6;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
}
.content .section._01 {
	background-color: #ffffff;
	/* padding: 21.6% 0 0; */
	height: 100%;
}
.content .section._01 .wrapper {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 1100px;
	margin: 0 auto;
}
.content .section._01 .title-block {
	position: absolute;
	/* padding-top: 11.6%; */
	/* padding-left: 36px; */
	z-index: 1;
	display: inline-block;
	text-align: left;
	top: 227px;
	left: 50px;
}
.content .section._01 .title-block .project-logo {
	width: 119px;
	height: 119px;
	margin: 0 0 6.6% 0;
}
.content .section._01 .title-block .title {
	width: 46.2%;
}
.content .section._01 .title-block .main-title {
	font-size: 66px;
	font-weight: 500;
	color: #e3001a;
}
.content .section._01 .title-block .main-title .bg-line {
	font-weight: 800;
	color: #fff;
	background: #e3001a;
	padding: 0 7px 5px;
	margin: 10px 0 5px;
}
.content .section._01 .title-block .sub-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.3;
	padding-top: 6%;
}
.content .section._01 .title-block .sub-title b {
	color: #e3001a;
	font-weight: 800;
}
.content .section._01 .cat {
	position: absolute;
	width: auto;
	height: 69.1%;
	top: 157px;
	/* right: -18%; */
	right: 0;
	z-index: 0;
}
.content .section._01 .scoll-down-group {
	position: absolute;
	bottom: 6.2%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.content .section._01 .scoll-down-group .txt {
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #6d6e71;
	letter-spacing: -0.05em;
}
.content .section._01 .scoll-down-group .anim._1 {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	margin-left: -10.5px;
	width: 21px;
	height: 24px;
	background: url(../images/main_scroll_obj_01.png) 50% / cover no-repeat;
	animation-name: footDown;
	animation-iteration-count: infinite;
	animation-duration: 1.75s;
	animation-timing-function: ease-in-out;
}
.content .section._01 .scoll-down-group .anim._2 {
	position: relative;
	display: block;
	margin: 0 auto 20px;
	width: 21px;
	height: 37px;
	background: url(../images/main_scroll_obj_02.png) 50% / cover no-repeat;
}
.content .section._01 .scoll-down-group .anim._2:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 22px;
	height: 38px;
	background-color: #ffffff;
	animation-name: footMark;
	animation-iteration-count: infinite;
	animation-duration: 1.75s;
	animation-timing-function: ease-in-out;
	transform-origin: 50% 100%;
}
@keyframes footDown {
	from {
		transform: translateY(-10%);
	}
	to {
		transform: translateY(110%);
	}
}
@keyframes footMark {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}
.content .section .project-logo {
	width: 84px;
	height: 84px;
	margin: 0 auto 13px;
}
.content .section._02 {
	padding: 60px 0 49px;
}
.content .section._02 > .title-block {
	margin-bottom: 50px;
}
.content .section._02 .title-block .tt {
	display: inline-block;
	padding: 7px 16px;
	margin-bottom: 6px;
	font-size: 38px;
	font-weight: 800;
	letter-spacing: -0.05em;
	background-color: #e3001a;
	color: #ffffff;
}
.content .section._02 .title-block .sub {
	font-size: 20px;
	font-weight: 500;
	color: #e3001a;
	letter-spacing: -0.05em;
}
.content .section._02 .infl-video-container {
	position: relative;
	background: #e3001a url(../images/main_02_bg_pattern.png) left / 462px 284px repeat-x;
	padding: 20px 20px 114px;
	margin-bottom: 95px;
}
.content .section._02 .infl-video-container .title-block {
	margin-bottom: 10px;
}
.content .section._02 .infl-video-container .title-block .title span {
	color: #ffffff;
	font-size: 24px;
	letter-spacing: -0.05em;
	font-weight: 500;
	line-height: 1.4;
	vertical-align: middle;
}
.content .section._02 .infl-video-container .title-block .title span b {
	font-size: 24px;
	font-weight: 800;
}
.content .section._02 .infl-video-container .title-block .title .quotes {
	font-size: 50px;
	font-weight: 800;
	opacity: 0.2;
}
.content .section._02 .infl-video-container .review-area {
	display: flex;
	justify-content: center;
}
.content .section._02 .infl-video-container .yt-container {
	/* position: absolute;
	left: 20px;
	right: 20px;
	top: 76px; */
	width: 568px;
	height: 322px;
	position: relative;
}

.content .section._02 .infl-video-container .yt-container img.object {
	position: absolute;
}
.content .section._02 .infl-video-container .yt-container #player-infl {
	position: relative;
	display: block;
	z-index: 1;
}
.yt-container {
	background-color: #6d6e71;
}
.yt-container .player {
	background-color: #6d6e71;
}
.yt-container .comming-soon {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #6d6e71;
}
.yt-container .comming-soon span {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 22px;
	font-weight: 800;
	color: #ffffff;
}
.content .section._02 .infl-video-container .yt-container img._body {
	width: 60px;
	left: -5px;
	top: -60px;
	z-index: 2;
}
.content .section._02 .infl-video-container .yt-container img._tail {
	width: 32.5px;
	top: 22.5px;
	left: -16.5px;
	z-index: 0;
}
.content .section._02 .tab-container-wrap {
	/* padding: 0 20px; */
}
.content .section._02 .tab-container {
	font-size: 0;
}
.content .section._02 .tab-container li {
	/* display: inline-block;
	width: 32%;
	margin-right: 2%;
	vertical-align: top; */
	width: 532px;
	height: 107px;
}
.content .section._02 .tab-container li:last-child {
	margin-right: 0;
}
.content .section._02 .tab-container li .tab-trigger {
	position: relative;
	display: block;
	background-color: #fff;
	padding: 0 0 0 33px;
	text-align: left;
	width: 100%;
	height: 100%;
	font-size: 0;
}
/* .content .section._02 .tab-container li .tab-trigger:before {
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	left: 50%;
	width: 5px;
	height: 5px;
	margin-left: -2.5px;
	background-color: #e3001a;
	border-radius: 50%;
	transform: scale(0);
	transition: scale 1s ease;
} */
.content .section._02 .tab-container li .tab-trigger .thumb {
	/* border-radius: 5px;
	margin-bottom: 6px; */
	display: inline-block;
}
.content .section._02 .tab-container li .tab-trigger span {
	font-size: 17px;
	font-weight: 500;
	letter-spacing: -0.05em;
	line-height: 1.27;
	color: #333333;
	/* color: rgba(255, 255, 255, 0.7); */
	opacity: 0.7;
	padding-left: 30px;
	margin-top: 28px;
	display: inline-block;
}
.content .section._02 .tab-container li .tab-trigger.is-active {
	background-color: #fbdbdf;
}
.content .section._02 .tab-container li .tab-trigger.is-active:before {
	transform: scale(1);
}
.content .section._02 .tab-container li .tab-trigger.is-active span {
	opacity: 1;
}
.content .section._02 .tab-container li .tab-trigger .play-btn {
	position: absolute;
	display: inline-block;
	margin: 22px 0 0 0;
	right: 30px;
}

.content .section._03 {
	padding: 60px 0 80px;
}
.content._main .section .title-block .prj-title .text em {
	font-size: 38px;
}
.content .section._03 .title-block .sub {
	margin: 13px 0 30px;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: -0.05em;
	font-weight: 500;
}
.content .section._03 .title-block .sub b {
	color: #e3001a;
}
.content .section._03 .date-block {
	text-align: center;
	font-size: 0;
}
.content .section._03 .date-block p {
	font-size: 16px;
	font-weight: 700;
}
.content .section._03 .bg-graph {
	position: relative;
	padding: 24px 0 20px;
	width: 1042px;
	margin: 0 auto;
}
.content .section._03 .bg-graph .prize {
	position: absolute;
	bottom: 108px;
	right: 90px;
	font-size: 0;
}
.content .section._03 .bg-graph .prize .health {
	display: inline-block;
	margin-right: 60px;
}
.content .section._03 .bg-graph .prize .hema {
	display: inline-block;
}
.content .section._03 .bg-graph .prize span {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.05em;
	display: block;
	padding: 12px 0 18px;
}
.content .section._03 .bg-graph .prize span b {
	font-size: 16px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: -0.05em;
}
.content .section._03 .bg-graph .prize button {
	font-size: 13px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #fff;
	width: 157px;
	height: 32px;
	background: #333;
	border-radius: 16px;
}
/* .content .section._03 .img-group {
	width: 81.6%;
	margin: 25px auto 15px;
} */
.content .section._03 .dash-line {
	display: block;
	margin: 25px 33px;
	border-bottom: 1px dashed #e3001a;
}
.content .section._03 .benefit-area {
	text-align: center;
}
.content .section._03 .benefit-area .tt {
	font-size: 17px;
	font-weight: 800;
	color: #e3001a;
	letter-spacing: -0.05em;
	margin-bottom: 8px;
}
.content .section._03 .benefit-area .sub {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.content .section._03 .benefit-area ul {
	display: flex;
	align-items: center;
	padding: 0 34px;
	margin-top: 19px;
}
.content .section._03 .benefit-area ul li {
	position: relative;
}
.content .section._03 .benefit-area ul li:first-child {
	margin-right: 31px;
}
.content .section._03 .benefit-area ul li .cnt-ball {
	position: absolute;
	top: 0;
	right: 0;
	width: 46.5px;
	height: 46.5px;
	background: url(../images/benefit_deco.png) 50% / cover no-repeat;
	text-align: center;
}
.content .section._03 .benefit-area ul li .cnt-ball span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	font-weight: 800;
	color: #ffffff;
}
.content .section._03 .benefit-area ul li p {
	margin: 8px 0 13px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.3;
}
.content .section._03 .benefit-area ul li p b {
	font-weight: 800;
}
.content .section._03 .benefit-area ul li button {
	display: block;
	width: 112px;
	height: 37px;
	margin: 0 auto;
	background-color: #58585a;
	border-radius: 19px;
	color: #ffffff;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
}


.content .section._04 {
	padding: 74px 0 18px;
}
.content .section._04:after {
	content: none;
}
.content .section._04 .cute {
	position: absolute;
	top: -48px;
	right: 0;
	width: 101px;
}
.content .section._04 .tab-container-wrap {
	overflow-x: hidden;
	margin-top: 53px;
}
.content .section._04 .tab-container {
	width: auto;
	/* display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	overflow-x: auto; */
	border-top: 1px solid #e3001a;
	border-bottom: 7px solid #e4e4e4;
}
.content .section._04 .tab-container li {
	/* flex-shrink: 0; */
	display: inline-block;
	position: relative;
	width: 154px;
}
.content .section._04 .tab-container li:before {
	position: absolute;
	top: 32px;
	right: 0;
	content: '';
	width: 1px;
	height: 51px;
	background: #c5c5c5;
}

.content .section._04 .tab-container li button {
	position: relative;
	padding: 20px 25px 17px;
	text-align: center;
}
.content .section._04 .tab-container li button:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 156px;
	height: 7px;
	background-color: #e3001a;
	transform: scale(0);
}
.content .section._04 .tab-container li button .icon {
	margin: 0 auto 12px;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #e9e9e9;
}
.content .section._04 .tab-container li button span {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.05em;
	line-height: 1.3;
}
.content .section._04 .tab-container li button.is-active span {
	color: #e3001a;
	font-weight: 800;
}
.content .section._04 .tab-container li button.is-active:after {
	transform: scale(1);
}
.content .section._04 .tab-container li button.is-active .icon {
	background-color: #e3001a;
}
.content .section._04 .tips-video-container {
	padding: 20px 20px 38px;
}
#player-tips {
	display: block;
	width: 1100px;
	height: 566px;
	margin: 0 auto;
}

.content .section._04 .article-list li {
	text-align: left;
	background-color: #f0f0f0;
	width: 357px;
	height: 230px;
	display: inline-block;
	margin: 0 15px 15px 0;
}
.content .section._04 .article-list li:hover a .text {
	color: #e3001a;
	/* text-decoration: underline; */
	border-bottom: 1px solid #e3001a;
	padding-bottom: 0px;
}
.content .section._04 .article-list li:nth-child(3n) {
	margin-right: 0;
}
.content .section._04 .article-list li a {
	display: block;
	/* padding: 10px 20px; */
	font-size: 0;
}
.content .section._04 .article-list li a .thumb {
	width: 357px;
	margin-right: 31px;
	display: inline-block;
	vertical-align: middle;
}
.content .section._04 .article-list li a .text {
	display: inline-block;
	vertical-align: middle;
	margin: 32px 0 0 25px;
	padding-bottom: 1px;
}
.content .section._04 .article-list li a .text span {
	display: block;
	letter-spacing: -0.05em;
	font-weight: 700;
}
.content .section._04 .article-list li a .text span {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 7px;
}
/* .content .section._04 .article-list li a .text span:last-child {
	font-size: 11px;
	color: #868686;
	text-decoration: underline;
} */

#footer {
	background: url(../images/copyright.png) center / 338px auto #333333 no-repeat;
	height: 120px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#footer {
		background: url(../images/copyright2x.png) center / 338px auto #333333 no-repeat;
		height: 120px;
	}
}

/* input component */
input.input-text {
	width: 709px;
	height: 46px;
	background-color: #f0f0f0;
	font-family: 'Noto Sans Korean';
	font-weight: 500;
	font-size: 15px;
	letter-spacing: -0.05em;
	padding: 0 20px;
	box-sizing: border-box;
}
select.select-box {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 210px;
	height: 45px;
	background-color: #f0f0f0;
	background-image: url(../images/select_arrow.png);
	background-size: 10px 6px;
	background-position: 94% 50%;
	background-repeat: no-repeat;
	font-family: 'Noto Sans Korean';
	font-weight: 500;
	font-size: 15px;
	letter-spacing: -0.05em;
	padding: 0 20px;
	box-sizing: border-box;
	text-align: center;
}
::-webkit-input-placeholder {
	color: #ababab;
	font-size: 14px;
} 
:-moz-placeholder {
	color: #ababab;
	font-size: 14px;
	opacity: 1;
}
::-moz-placeholder {
	color: #ababab;
	opacity: 1; 
	font-size: 14px;
}
:-ms-input-placeholder {
	color: #ababab; 
	font-size: 14px;
}
/* end input component */


.content .chk-trigger {
	position: relative;
	width: 404px;
	/* display: flex; */
	padding-right: 20px;
	padding-left: 66px;
	/* justify-content: flex-start; */
	/* align-items: center; */
	border: 2px solid #f0f0f0;
	border-radius: 28px;
	height: 40px;
	text-align: left;
	background-color: #f0f0f0;
	transition: background-color 0.05s ease, transform 0.05s ease, box-shadow 0.05s ease, border 0.05s ease;
}
.content.__gate .chk-trigger {
	width: 435px;
}
.content .chk-trigger .chk-shape {
	content: "";
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 33px;
	transform: translateY(-50%);
	width: 21px;
	height: 21px;
	background-color: #a4a4a4;
	border-radius: 50%;
	transition: all 0.25s ease;
}
.content .chk-trigger .chk-shape:after {
	content: "";
	position: absolute;
	top: 3px;
	left: 6px;
	width: 15px;
	height: 12px;
	background-image: url(../images/checklist_chk_shape.png);
	background-repeat: no-repeat;
	background-size: 15px 12px;
}
.content .chk-trigger .text {
	font-size: 16px;
	/* font-weight: 700; */
	font-weight: 500;
	/* font-size: 3.46vw; */
	letter-spacing: -0.05em;
	color: #333333;
	line-height: 1.2;
	transition: all 0.25s ease;
}
/* :active, */
.content .chk-trigger.fake-active {
	transform: translateY(2px);
	box-shadow: 7px 4.5px 10px 0px rgba(0, 0, 0, 0.13);
}
.content .chk-trigger.is-active {
	border: 2px solid #e3001a;
	background-color: #ffffff;
	box-shadow: 7px 4.5px 10px 0px rgba(0, 0, 0, 0.13);
}
.content .chk-trigger.is-active .chk-shape {
	background-color: #e3001a;
}
.content .chk-trigger.is-active .text {
	color: #e3001a;
}
.content .title-block .prj-title .text {
	display: inline-block;
	padding: 4px 14px;
	background-color: #e3001a;
	vertical-align: middle;
	font-size: 0;
}
.content .title-block .prj-title .text em {
	display: inline-block;
	font-weight: 800;
	color: #ffffff;
	letter-spacing: -0.05em;
	vertical-align: middle;
	font-size: 16px;
}
.content .title-block .prj-title .text .icon {
	display: inline-block;
	margin: 0 5px 0 4px;
	vertical-align: middle;
	width: 30px;
	height: 21.5px;
}
.content .title-block .prj-title .text .icon2 {
	display: inline-block;
	margin: 0 5px 0 4px;
	vertical-align: middle;
	width: 53px;
	height: 38px;
}


/* sub */
.content._sub {
	padding: 163px 0 0;
}
.content._sub .inner {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.content._sub.__result .inner {
	width: inherit;
	margin: 0 auto;
}
.content._sub.__request .inner {
	width: inherit;
	margin: 0 auto;
}
.content._sub.__result .inner .sub-header {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.content._sub.__request .inner .sub-header {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.content._sub #go-before {
	display: block;
	position: absolute;
	left: 0;
	top: 8px;
	/* padding: 20px; */
	/* padding: 8px 0 0 0; */
	width: 34px;
	height: 30px;
	box-sizing: content-box;
	background: url(../images/sub_btn_before.png) 50% / 34px 30px no-repeat;
}
.content._sub #go-index {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	width: 22px;
	height: 21.5px;
	box-sizing: content-box;
	background: url(../images/sub_btn_home.png) 50% / 22px 21.5px no-repeat;
}
.content._sub .title-block {
	text-align: center;
}
.content._sub .title-block .prj-title .project-logo {
	display: inline-block;
	width: 46px;
	height: 46px;
	margin-right: 6px;
	vertical-align: middle;
}
.content._sub .title-block .subject {
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: -0.05em;
}
.content._sub .title-block .subject b {
	font-size: 36px;
	font-weight: 800;
	color: #e3001a;
}
.content._sub .title-block .prj-title .text em {
	font-size: 23px;
}

.content._sub .title-block .prj-title .text .icon {
	width: 31px;
	height: 22px;
}
.content._sub .title-block {
	margin-bottom: 22px;
}
.content._sub .title-block .prj-title {
	margin-bottom: 36px;
	text-align: center;
	font-size: 0;
}
/* .content.__gate {
	padding-bottom: 35px;
} */

.content.__gate .cat-block {
	margin-bottom: 36px;
}
.content.__gate .cat-block img {
	margin: 0 auto;
}
.content.__gate .input-wrapper .message {
	text-align: left;
	font-size: 20px;
	letter-spacing: -0.05em;
	line-height: 1.2;
	margin-bottom: 30px;
	border-bottom: 1px solid #e3001a;
	padding-bottom: 10px;
}
.content.__gate .input-wrapper .message b {
	font-weight: 800;
	color: #e3001a;
}
.content.__gate .input-wrapper {
	padding: 0 120px;
}
.content.__gate .input-wrapper .input-group {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: space-between; */
	margin-bottom: 17px;
	font-size: 0;
}
.content.__gate .input-wrapper .input-group:last-child {
	margin-bottom: 29px;
}
.content.__gate .input-wrapper .input-group label {
	/* flex-basis: 18%; */
	/* flex-shrink: 0; */
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.content.__gate .input-wrapper .input-group .cat-name-label {
	margin-right: 65px;
}
.content.__gate .input-wrapper .input-group .cat-age-label {
	margin-right: 33px;
}
.content.__gate .input-wrapper .radio-wrap {
	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: center; */
	/* margin: 25px 0 21px; */
	margin-left: 116px;
	display: inline-block;
}
.content.__gate .input-wrapper .radio-wrap span {
	font-size: 18px;
	letter-spacing: -0.05em;
	font-weight: 500;
}
.content.__gate .input-wrapper .radio-wrap div {
	font-size: 0;
	display: inline-block;
	margin-left: 32px;
}
.content.__gate .input-wrapper .radio-wrap .fake-radio:first-child {
	margin-right: 7px;
}
.content.__gate .input-wrapper .radio-wrap .fake-radio {
	border-radius: 50%;
	color: #ffffff;
	font-size: 16px;
	font-weight: 800;
	background-color: #a4a4a4;
	width: 30px;
	height: 30px;
}
.content.__gate .input-wrapper .radio-wrap .fake-radio.is-active {
	background-color: #e3001a;
}
.content.__gate .input-wrapper .agree-wrap {
	/* display: flex;
	justify-content: space-between; */
	padding-top: 30px;
	border-top: 1px solid #e6e6e6;
	text-align: right;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger {
	border: 1px solid #f0f0f0;
	height: 40px;
}
/* .content.__gate .input-wrapper .agree-wrap .chk-trigger:first-child {
	margin-bottom: 10px;
} */
.content.__gate .input-wrapper .agree-wrap .chk-trigger.is-active {
	border: 1px solid #e3001a;
	box-shadow: none;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger:after {
	content: "";
	position: absolute;
	right: 20px;
	top: 50%;
	width: 6.5px;
	height: 11.5px;
	background: url(../images/agree_arrow.png) 50% / 6.5px 11.5px no-repeat;
	margin-top: -6px;
	transition: background 0.05s ease;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger.is-active:after {
	background: url(../images/agree_arrow_active.png) 50% / 6.5px 11.5px no-repeat;
}
.content.__gate #go-next {
	margin-top: 60px;
	margin-bottom: 89px;
}


.content.__checklist {
	min-height: calc(100% - 63px);
}
.content.__checklist .title-block {
	margin-bottom: 38px;
}
.content.__checklist .prj-title {
	margin-bottom: 20px;
}
.content.__checklist .indicator-block {
	text-align: center;
	/* margin-bottom: 30px; */
	margin-top: 24px;
}
.content.__checklist .guide {
	margin-bottom: 39px;
	font-size: 0;
	text-align: center;
}
.content.__checklist .guide .icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 4px;
	vertical-align: middle;
}
.content.__checklist .guide span {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.05em;
	color: #e3001a;
	vertical-align: middle;
}
.content.__checklist .indicator-block .indicator {
	font-size: 0;
}
.content.__checklist .indicator-block .indicator li {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background-color: #e3001a;
	margin-right: 7px;
}
.content.__checklist .indicator-block .indicator li:last-child {
	margin-right: 0;
}
.content.__checklist .indicator-block .indicator li.is-current {
	width: 21px;
}
.content.__checklist .checklist-container {
	overflow: hidden;
}
.content.__checklist .list-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.content.__checklist .list-wrapper .group {
	width: 100%;
	padding: 0 24px;
	flex-shrink: 0;
	text-align: center;
}
.content.__checklist .list-wrapper li {
	margin-bottom: 26px;
	opacity: 0;
	visibility: hidden;
}
.content.__checklist .list-wrapper .group:first-child li {
	opacity: 1;
	visibility: visible;
}
.content.__checklist .list-wrapper .group li button {
	width: 860px;
	height: 45px;
	text-align: center;
}
.content.__checklist .list-wrapper .group li button .chk-shape {
	left: 48px;
}
.content.__checklist #go-next {
	/* display: block; */
	margin: 39px auto 89px;
	/* width: 201px; */
}

/* .content.__result {
	padding: 60px 0 31px;
} */
.content.__result .loading-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: #ffffff;
}
.content.__result .loading-layer .wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.content.__result .loading-layer .wrapper .project-logo {
	width: 113px;
	height: 113px;
	margin: 0 auto 20px;
}
.content.__result .loading-layer .wrapper h2 {
	font-size: 28px;
	color: #e3001a;
	letter-spacing: -0.05em;
	font-weight: 800;
	margin-bottom: 10px;
}
.content.__result .loading-layer .wrapper p {
	font-size: 14px;
	letter-spacing: -0.05em;
}
.content.__result .loading-layer .wrapper p b {
	color: #e3001a;
	font-weight: 800;
}
.content.__result .title-block {
	margin-bottom: 30px;
}
.content.__result .title-block .prj-title {
	margin-bottom: 20px;
}
/* .content.__result .cat-block {
	margin-bottom: 31px;
} */
.content.__result .cat-block {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.content.__result .cat-block img {
	margin: 0 auto;
}
.content.__result .cat-block .info {
	margin: 10px 20px 0;
	font-size: 0;
	text-align: center;
}
.content.__result .cat-block .info > div {
	display: inline-block;
	/* width: 50%; */
	padding: 12px 0;
	text-align: center;
	font-size: 0;
	margin-left: 30px;
}
.content.__result .cat-block .info > div:first-child {
	margin: 0;
}
.content.__result .cat-block .info > div span {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.content.__result .cat-block .info > div span:first-child {
	margin-right: 3px;
}
.content.__result .cat-block .info .ksfm-logo {
	position: absolute;
	right: 0;
	bottom: -26px;
}
.content.__result .chart-block {
	position: relative;
	/* padding: 0 20px; */
	/* padding: 0 33.8%; */
	text-align: center;
	display: inline-block;
	top: 33px;
	margin: 0 170px 0 122px;
}
.content.__result .chart-block .chart-wrapper {
	display: inline-block;
	position: relative;
}
.content.__result .chart-block .chart-wrapper .labels {
	position: absoulte;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.content.__result .chart-block .chart-wrapper .labels span {
	position: absolute;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.025em;
	transition: all 1s ease-out;
}
.content.__result .chart-block .chart-wrapper .labels span.is-active {
	color: #e3001a;
	font-weight: 800;
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(1) {
	top: 0;
	left: 50%;
	transform: translate(-50%, -120%);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(2) {
	top: 30%;
	right: 0;
	transform: translate(110%, 0);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(3) {
	bottom: 0;
	right: 0;
	transform: translate(30%, 140%);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(4) {
	bottom: 0;
	left: 0;
	transform: translate(-40%, 140%);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(5) {
	top: 30%;
	left: 0;
	transform: translate(-110%, 0);
}
.content.__result .chart-block .graph-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.content.__result .chart-block .chart-guideline {
	/* width: 100%; */
	width: 171px;
	height: 162px;
	position: relative;
	z-index: 2;
}
.content.__result .desc-block {
	display: inline-block;
	position: relative;
	top: 55px;
}
.content.__result .advice-block {
	margin-top: 30px;
	background-color: #f0f0f0;
	/* padding: 27px 20px 30px; */
	text-align: center;
	height: 368px;
}
.content.__result .advice-block .icon-wrap {
	font-size: 0;
	margin-bottom: 15px;
}
.content.__result .advice-block .icon-wrap .icon {
	width: 66px;
	display: inline-block;
	margin-right: 5px;
}
.content.__result .advice-block .icon-wrap .icon:last-child {
	margin-right: 0;
}
.content.__result .advice-block .adv-subject {
	font-size: 24px;
	letter-spacing: -0.05em;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 16px;
}
.content.__result .advice-block .adv-subject b {
	font-weight: 800;
	color: #e3001a;
}
.content.__result .advice-block .adv-text .adv-msg {
	display: block;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.35;
	margin-bottom: 2px;
}
.content.__result .advice-block .adv-text .default-msg {
	display: block;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: -0.05em;
	line-height: 1.35;
	color: #e3001a;
}
.content.__result .notice-block {
	text-align: center;
	padding-top: 17px;
}
.content.__result .notice-block p {
	font-size: 12px;
	font-weight: 500;
	color: #333;
	text-decoration: underline;
}
.content.__result .go-next {
	margin: 61px auto 89px;
}

/* .content.__request {
	padding: 60px 0 36px;
} */
.content.__request .title-block {
	margin-bottom: 26px;
}
.content.__request .title-block .prj-title {
	margin-bottom: 20px;
}
.content.__request .location-selector {
	border-top: 1px solid #e3001a;
	border-bottom: 7px solid #f0f0f0;
	font-size: 0;
	margin-bottom: 25px;
}
.content.__request .location-selector .loc-trigger {
	position: relative;
	display: inline-block;
	font-size: 0;
	text-align: left;
	width: 50%;
	padding: 18px 0 10px 130px;
}
.content.__request .location-selector .loc-trigger:first-child {
	text-align: right;
	padding-right: 120px;
}
.content.__request .location-selector .loc-trigger:first-child:after {
	display: block;
	content: "";
	width: 1px;
	height: 13px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6.5px;
	background-color: #a4a4a4;
}
.content.__request .location-selector .loc-trigger img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
/* .content.__request .location-selector .loc-trigger[data-loc="central"] img {
	width: 23px;
} */
/* .content.__request .location-selector .loc-trigger[data-loc="other"] img {
	width: 23.5px;
} */
.content.__request .location-selector .loc-trigger p {
	position: relative;
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	letter-spacing: -0.05em;
	font-weight: 700;
}
.content.__request .location-selector .loc-trigger p:after {
	content: "";
	display: block;
	position: absolute;
	top: -3px;
	right: -10px;
	width: 5px;
	height: 5px;
	background-color: #e3001a;
	border-radius: 50%;
	transform: scale(0);
}
.content.__request .location-selector .loc-trigger.is-active p:after {
	transform: scale(1);
}
.content.__request .location-selector .loc-trigger.is-active p {
	font-weight: 700;
	color: #e3001a;
}
.content.__request .location-selector .loc-trigger:last-child p {
	font-weight: 500;
	font-size: 18px;
}
.content.__request .location-selector .loc-trigger:last-child p b {
	display: block;
	margin-top: 3px;
	font-size: 30px;
	font-weight: 800;
}
.content.__request .input-wrapper {
	padding: 0 20px;
}
.content.__request .input-wrapper .tip {
	margin: 28px 0 38px;
	font-size: 0;
	text-align: center;
}
.content.__request .input-wrapper .tip span {
	display: inline-block;
	vertical-align: middle;
	background-color: #e3001a;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.05em;
	border-radius: 14px;
	padding: 6px 10px;
	margin-right: 8px;
}
.content.__request .input-wrapper .tip em {
	display: inline-block;
	letter-spacing: -0.05em;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	vertical-align: middle;
}
.content.__request .input-wrapper .row {
	/* margin-bottom: 20px; */
	width: 860px;
	margin: 0 auto 15px;
}
.content.__request .input-wrapper .row .input-group {
	font-size: 0;
}
.content.__request .input-wrapper .row .input-group .label {
	width: 150px;
	display: inline-block;
}
.content.__request .input-wrapper .row .input-group .input {
	width: 710px;
	display: inline-block;
	vertical-align: top;
}
.content.__request .input-wrapper .row .input-group label {
	display: block;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.05em;
	margin-top: 16px;
}
.content.__request .input-wrapper .row .input-group._addr .select-box {
	width: 230px;
	margin-right: 9px;
	vertical-align: top;
	font-size: 16px;
}
.content.__request .input-wrapper .row .input-group._addr #addr-search {
	width: 230px;
	background: url(../images/icon_magnify.png) 50% / 18.5px 18.5px no-repeat #58585a;
	height: 45px;
	vertical-align: top;
}
.content.__request .input-wrapper .row .input-group._tel .input-text {
	width: 32%;
	margin-right: 2%;
}
.content.__request .input-wrapper .row .input-group._tel #req-phone3 {
	margin-right: 0;
}
.content.__request .input-wrapper .row .input-group._tel .guide-msg {
	color: #e3001a;
}
.content.__request .input-wrapper .row .input-group .guide-msg {
	margin-top: 8px;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: -0.05em;
	text-align: right;
}
.content.__request .go-next {
	margin: 51px auto 74px;
}

/* end sub */

/*popup*/
html.menu-opened,
html.popup-opened {
	overflow: hidden;
}
.popup-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
	/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}

.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup-wrap.is-opened .popup {
	transform: scale(1) translateY(0);
}
.popup {
	display: none;
	position: relative;
	vertical-align: middle;
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	/* -webkit-transition: all 0.35s ease; */
	transition: all 0.35s ease;
	transform: scale(0) translateY(10px);
	width: 100%;
	padding: 0 20px;
	margin: 40px 0;
	background-color: transparent;
}
.popup._req {
	width: 520px;
}
.popup#reward1-popup {
	width: 440px;
}
.popup#reward2-popup {
	width: 520px;
}
.popup .inner {
	position: relative;
	background-color: #ffffff;
	padding: 70px 0 50px;
	border-radius: 11px;
	text-align: center;
}
.popup#reward1-popup .inner {
	padding: 60px 0 50px;
}
.popup .popup-close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -33px;
	right: 0;
	background: url(../images/popup_close.png) 50% / cover no-repeat;
}
.popup._reward .inner {
	/* overflow: hidden; */
	padding-bottom: 0;
}
.popup#reward1-popup .title-block {
	margin-bottom: 23px;
}
.popup#reward1-popup .title-block .title {
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.05em;
	color: #e3001a;
	line-height: 1.2;
}
.popup#reward1-popup .title-block .title b {
	font-weight: 800;
}
.popup#reward1-popup .r-img {
	width: 334px;
	margin: 0 auto 32px;
}
.popup#reward1-popup .text {
	font-size: 18px;
	letter-spacing: -0.05em;
	line-height: 1.3;
	font-weight: 500;
	margin-bottom: 44px;
}
.popup#reward1-popup .text b {
	color: #e3001a;
	font-weight: 800;
}
.popup._reward .guide-block {
	padding: 23px 22px 26px;
	background-color: #f0f0f0;
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
}
.popup#reward1-popup .guide-block dl {
	display: flex;
	text-align: left;
	font-size: 13px;
	letter-spacing: -0.05em;
	font-weight: 700;
	margin-bottom: 3px;
	align-items: flex-start;
}
.popup#reward1-popup .guide-block dl:last-child {
	margin-bottom: 0;
}
.popup#reward1-popup .guide-block dl dt {
	flex-shrink: 0;
}
.popup#reward1-popup .guide-block dl dd {
	margin-left: 2px;
	line-height: 1.2;
}
.popup#reward2-popup .title-block {
	position: relative;
	text-align: left;
	margin-bottom: 17px;
	padding-left: 27px;
}
.popup#reward2-popup .title-block .title {
	font-size: 26px;
	letter-spacing: -0.05em;
	color: #e3001a;
	font-weight: 800;
	line-height: 1.2;
	margin-bottom: 12px;
}
.popup#reward2-popup .title-block .sub {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.05em;
}
.popup#reward2-popup .title-block .prd-img {
	position: absolute;
	top: -21px;
	right: 60px;
	/* width: 62px; */
	width: 87px;
}
.popup#reward2-popup .r-img {
	width: 454px;
	margin: 0 auto 23px;
}
.popup#reward2-popup .guide-block {
	padding: 30px 34px 70px;
}
.popup#reward2-popup .guide-block p {
	font-size: 22px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #e3001a;
	text-align: center;
	margin-bottom: 35px;
}
.popup._req .title-block {
	margin-bottom: 30px;
}
.popup._req .title-block .title {
	font-size: 26px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #e3001a;
}
.popup._req .title-block .sub {
	margin-top: 17px;
	font-size: 16px;
	letter-spacing: -0.05em;
}
.popup._req .title-block .sub b {
	color: #e3001a;
	font-weight: 800;
}
.popup._req .list-block {
	border-top: 1px solid #8c8c8c;
	border-bottom: 1px solid #8c8c8c;
	margin-bottom: 30px;
}
.popup._req .list-block ul {
	padding: 0 20px;
	max-height: 300px;
	overflow-y: auto;
}
.popup._req .list-block ul li {
	border-bottom: 1px solid #d1d1d1;
}
.popup._req .list-block ul li:last-child {
	border-bottom: 0;
}
.popup._req .list-block ul li .hospi-trigger {
	position: relative;
	display: block;
	width: 100%;
	padding: 20px 0 20px 37px;
	text-align: left;
}
.popup._req .list-block ul li .hospi-trigger .chk-shape {
	content: "";
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 21px;
	height: 21px;
	background-color: #a4a4a4;
	border-radius: 50%;
	transition: all 0.25s ease;
}
.popup._req .list-block ul li .hospi-trigger .chk-shape:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 7px;
	width: 14px;
	height: 10px;
	background-image: url(../images/checklist_chk_shape.png);
	background-repeat: no-repeat;
	background-size: 14px 10px;
}
/* :active, */
.popup._req .list-block ul li .hospi-trigger.is-active .chk-shape {
	background-color: #e3001a;
}
.popup._req .list-block ul li .hospi-trigger .h-name {
	font-size: 16px;
	font-weight: 800;
	letter-spacing: -0.05em;
	margin-bottom: 5px;
}
.popup._req .list-block ul li .hospi-trigger .h-addr {
	font-size: 16px;
	letter-spacing: -0.05em;
	line-height: 1.2;
}
.popup._req .hospi-select {
	width: 201px;
	margin-bottom: 13px;
}
.popup._req .guide-msg {
	color: #e3001a;
	font-size: 12px;
	letter-spacing: -0.05em;
}
#other-popup .inner {
	padding-left: 50px;
	padding-right: 50px;
}
#other-popup .title-block {
	margin-bottom: 41px;
}
#other-popup .guide-icon img {
	margin: 0 auto;
}
#other-popup .naver-search {
	display: block;
	margin: 30px 0 23px;
}
#other-popup .naver-search img {
	margin: 0 auto;
}
#other-popup .input-wrapper {
	padding: 0;
	margin-bottom: 26px;
}
#other-popup .input-wrapper .input-group {
	margin-bottom: 20px;
}
#other-popup .input-wrapper .input-group:last-child {
	margin-bottom: 0;
}
#other-popup .input-wrapper .input-group label {
	display: block;
	font-size: 16px;
	letter-spacing: -0.05em;
	margin-bottom: 12px;
	text-align: left;
	font-weight: 700;
}
#other-popup .input-wrapper .input-group input {
	width: 100%;
}

/* .content-wrap .inner .box-area .box img,
.content-wrap .inner .box-area .box video {
	width: 100%;
	height: auto;
	position: absolute;
	outline: 0;
}

.content-wrap .inner .box-area .box .video-control {
	position: absolute;
	outline: 0;
	width: 100%;
	height: 100%;
} */


/* override native video control  */
/* ::-webkit-media-controls {
	display: none !important;
}

video::-webkit-media-controls {
	display: none !important;
}

video::-webkit-media-controls-enclosure {
	display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
	display: none !important;
}

*::-webkit-media-controls-panel {
	display: none !important;
	-webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
	display: none !important;
	-webkit-appearance: none;
}


*::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
} */

/* .my_custom_control_bar {
	z-index: 2147483647;
	position: relative;
} */
/* override native video control  */

/* 
.content-wrap .inner .box-area .box img:not(.initial) {
	transition: opacity 0.5s ease-out, transform 0.3s ease-out;
}

.content-wrap .inner .box-area .box img.initial,
.content-wrap .inner .box-area .box img.loaded,
.content-wrap .inner .box-area .box img.error {
	opacity: 1;
	transform: translateY(0);
}

.content-wrap .inner .box-area .box img:not([src]) {
	visibility: hidden;
} */

/* video customize */
.vjs-matrix .vjs-big-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	margin: -25px 0 0 -25px;
	border: 0;
	background-color: rgba(255, 255, 255, 0.8) !important;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.vjs-matrix .vjs-poster {
	background-size: cover;
	background-color: transparent;
}
.video-js.vjs-matrix {
	background-color: transparent;
}
/* .vjs-has-started {
	background: none;
} */
.vjs-matrix .vjs-big-play-button .vjs-icon-placeholder:before {
	color: rgba(43, 51, 63, 0.7);
	line-height: 50px;
}
/* end video customize */

/* media query */
@media screen and (max-height: 950px) {
	.content .section._01 .title-block .main-title {
		font-size: 64px;
	}
	.content .section._01 .title-block .project-logo {
		width: 118px;
	}
}
@media screen and (max-height: 900px) {
	.content .section._01 .title-block .main-title {
		font-size: 62px;
	}
	.content .section._01 .title-block .project-logo {
		width: 117px;
	}
}
@media screen and (max-height: 850px) {
	.content .section._01 .title-block .main-title {
		font-size: 60px;
	}
	.content .section._01 .title-block .project-logo {
		width: 116px;
	}
}
@media screen and (max-height: 800px) {
	.content .section._01 .title-block .main-title {
		font-size: 58px;
	}
	.content .section._01 .title-block .project-logo {
		width: 115px;
	}
}
/* @media screen and (max-width: 340px) { */
/* @media screen and (max-width: 345px) {
	
}
@media screen and (min-width: 600px) {
	
} */
/* end media query */
