* {
	box-sizing: border-box;
	outline: 0 none;
}
html,
body {
	height: 100%;
	font-family: 'Noto Sans Korean', dotum, '돋움', sans-serif;
	font-weight: 500;
	color: #333333;
	line-height: 1;
	background: #ffffff;
	/* -webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%; */
}
html.scroll-blocking {
	overflow: hidden;
}
b {
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

.for-a11y {
	position: absolute;
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	color: transparent;
	font-size: 1px;
	line-height: 1px;
	opacity: 0;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter: alpha(opacity=0);
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 0;
	text-align: center;
	font-size: 0;
	z-index: 10;
	background-color: rgba(255, 255, 255 , 0.9);
}
#header .logo {
	width: 75px;
	display: inline-block;
}

#header .gnb-toggle {
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
	height: 56px;
	overflow: hidden;
}
#header .gnb-toggle .wrapper {
	position: relative;
	/* transform: translate(-50%, -50%); */
	height: 100%;
	width: 100%;
	/* padding: 30px; */
}
#header .gnb-toggle .line {
	position: absolute;
	height: 2px;
	border-radius: 2px;
	background-color: #e3001a;
	top: 50%;
	right: 50%;
	margin-right: -10px;
	width: 20px;
}
#header .gnb-toggle .line._01 {
	margin-top: -4px;
	transform-origin: 100% 50%;
	transition: transform 0.35s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease;
}
#header .gnb-toggle .line._02 {
	margin-top: 1px;
	width: 11px;
	transform-origin: 50% 50%;
	transition: transform 0.15s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
}
#header .gnb-toggle .line._03 {
	margin-top: 6px;
	width: 15px;
	right: initial;
	left: 50%;
	margin-left: -5px;
	margin-right: 0;
	transform-origin: 0% 50%;
	transition: transform 0.35s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease;
}
#header .gnb-toggle.is-active .line._01 {
	width: 10px;
	transform: rotate(-45deg) translate(-1px, -3.5px);
	transition: transform 0.35s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease 0.2s;
}
#header .gnb-toggle.is-active .line._02 {
	width: 19px;
	transform: rotate(45deg);
	transition: transform 0.35s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease 0.2s;
}
#header .gnb-toggle.is-active .line._03 {
	width: 10px;
	transform: rotate(-45deg) translate(-2px, 0);
	transition: transform 0.35s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease 0.2s;
}


/* header */

/* menu layer */

#menu-layer {
	display: none;
	padding: 88px 0;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	background: #ffffff;
	/*background: rgba(37,37,37,.9);*/
	/* transition: all 0.5s ease-in-out; */
	z-index: 10;
	overflow: auto;
}
#menu-layer .inner {
	height: 100%;
}
#menu-layer ul li {
	opacity: 0;
	visibility: hidden;
	transform: translateY(5px);
}
#menu-layer ul li a {
	display: block;
	padding: 18px 24px;
	background: url(../images/menu_arrow.png) 94% 50% / 8px 14.5px no-repeat;
}
#menu-layer ul li a .p-name {
	font-size: 19px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
#menu-layer .cat {
	/* transform: rotate(-2deg); */
	transform-origin: 50%;
	width: 94%;
	margin: 5% auto -30px;
}
.menu-transition-layer {
	position: fixed;
	z-index: 9;
	width: 0;
	height: 0;
	transform: scale(0);
	transform-origin: 100% 0%;
	top: 0;
	right: 0;
	border-radius: 50%;
	background-color: #ffffff;
}

/* menu layer */

button {
	font-family: 'Noto Sans Korean', dotum, '돋움', sans-serif;
	line-height: 1;
	color: #333333;
}
a.type-01 {
	position: relative;
	width: 201px;
	display: block;
	margin: 0 auto;
	padding: 19px 0;
	background-color: #e3001a;
	border-radius: 26px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 800;
	letter-spacing: -0.05em;
	/* padding: 18px 0; */
	line-height: 1.2;
	text-align: center;
}
button.type-01 {
	background-color: #e3001a;
	border-radius: 26px;
	color: #ffffff;
	/* font-size: 16px; */
	font-size: 15px;
	/* font-size: calc(11px + 1.3vw); */
	font-weight: 800;
	letter-spacing: -0.05em;
	/* padding: 18px 0; */
	height: 52px;
	position: relative;
	line-height: 1.2;
}
button.with-icon:after {
	margin-left: 5px;
}

#container {
	height: 100%;
}
.content._main {
	min-height: 100%;
}
.content .section {
	position: relative;
	text-align: center;
}
.content .section:after {
	content: "";
	position: absolute;
	/* bottom: 0; */
	bottom: -9px;
	left: 0;
	right: 0;
	display: block;
	height: 9px;
	background-color: #e2e4e6;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
}
.content .section._01 {
	background-color: #ffffff;
	padding: 21.6% 0 0;
	height: 100%;
}
.content .section._01 .wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.content .section._01 .title-block {
	position: relative;
	padding-top: 11.6%;
	padding-left: 36px;
	z-index: 1;
}
.content .section._01 .title-block .project-logo {
	width: 83px;
	height: 83px;
	margin: 0 0 24px 0;
}
.content .section._01 .title-block .title {
	width: 46.2%;
}
.content .section._01 .cat {
	position: absolute;
	width: auto;
	/* height: 71.5%; */
	top: 0;
	/* right: -10%; */
	right: -15.5%;
	z-index: 0;
}
.content .section._01 .scoll-down-group {
	position: absolute;
	bottom: 6.2%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.content .section._01 .scoll-down-group .txt {
	display: block;
	font-size: 11px;
	font-weight: 700;
	color: #6d6e71;
	letter-spacing: -0.05em;
}
.content .section._01 .scoll-down-group .anim._1 {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	margin-left: -9.5px;
	width: 19px;
	height: 23px;
	background: url(../images/main_scroll_obj_01.png) 50% / cover no-repeat;
	animation-name: footDown;
	animation-iteration-count: infinite;
	animation-duration: 1.75s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}
.content .section._01 .scoll-down-group .anim._2 {
	position: relative;
	display: block;
	margin: 0 auto 20px;
	width: 19px;
	height: 34.5px;
	background: url(../images/main_scroll_obj_02.png) 50% / cover no-repeat;
}
.content .section._01 .scoll-down-group .anim._2:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 21px;
	height: 36px;
	background-color: #ffffff;
	animation-name: footMark;
	animation-iteration-count: infinite;
	animation-duration: 1.75s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	transform-origin: 50% 100%;
}
@keyframes footDown {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(120%);
	}
}
@keyframes footMark {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}
.content .section .project-logo {
	width: 47px;
	height: 47px;
	margin: 0 auto 6px;
}
.content .section._02 {
	padding: 40px 0 49px;
}
.content .section._02 > .title-block {
	margin-bottom: 20px;
}
.content .section._02 .title-block .tt {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: -0.05em;
	background-color: #e3001a;
	color: #ffffff;
}
.content .section._02 .title-block .sub {
	font-size: 12px;
	font-weight: 700;
	color: #e3001a;
	letter-spacing: -0.05em;
}
.content .section._02 .infl-video-container {
	position: relative;
	background-color: #e3001a;
	/* padding: 20px 20px 32.4%; */
	padding: 20px 20px 120px;
	/* margin-bottom: 28.4%; */
	margin-bottom: 30%;
}
.content .section._02 .infl-video-container .title-block .title span {
	color: #ffffff;
	font-size: 14px;
	letter-spacing: -0.05em;
	font-weight: 700;
	line-height: 1.4;
}
.content .section._02 .infl-video-container .title-block .title span b {
	font-size: 17px;
	font-weight: 800;
}
.content .section._02 .infl-video-container .yt-container {
	position: absolute;
	left: 20px;
	right: 20px;
	top: 76px;
}

.content .section._02 .infl-video-container .yt-container img.object {
	position: absolute;
}
.content .section._02 .infl-video-container .yt-container #player-infl {
	position: relative;
	display: block;
	z-index: 1;
}
.yt-container {
	position: relative;
	background-color: #6d6e71;
}
.yt-container .player {
	background-color: #6d6e71;
}
.yt-container .comming-soon {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #6d6e71;
}
.yt-container .comming-soon span {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 14px;
	font-weight: 800;
	color: #ffffff;
}
.content .section._02 .infl-video-container .yt-container img._body {
	width: 60px;
	left: -5px;
	top: -58px;
	z-index: 2;
}
.content .section._02 .infl-video-container .yt-container img._tail {
	width: 32.5px;
	top: 22.5px;
	left: -16.5px;
	z-index: 0;
	animation-name: shakeTail;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}
/* .content .section._02 .infl-video-container .yt-container img._tail.shake {

} */
@keyframes shakeTail {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(5deg);
	}
	40% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.content .section._02 .tab-container-wrap {
	padding: 0 20px;
}
.content .section._02 .tab-container {
	font-size: 0;
}
.content .section._02 .tab-container li {
	display: inline-block;
	width: 32%;
	margin-right: 2%;
	vertical-align: top;
}
.content .section._02 .tab-container li:last-child {
	margin-right: 0;
}
.content .section._02 .tab-container li .tab-trigger {
	position: relative;
	display: block;
	background-color: #6d6e71;
	border-radius: 11px;
	padding: 6px 7px 10px;
	text-align: center;
}
.content .section._02 .tab-container li .tab-trigger:before {
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	left: 50%;
	width: 5px;
	height: 5px;
	margin-left: -2.5px;
	background-color: #e3001a;
	border-radius: 50%;
	transform: scale(0);
	transition: all 0.1s ease;
}
.content .section._02 .tab-container li .tab-trigger .thumb {
	border-radius: 5px;
	margin-bottom: 6px;
}
.content .section._02 .tab-container li .tab-trigger span {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.27;
	color: #ffffff;
	/* color: rgba(255, 255, 255, 0.7); */
	opacity: 0.7;
}
.content .section._02 .tab-container li .tab-trigger.is-active {
	background-color: #e3001a;
	transition: all 0.1s linear;
}
.content .section._02 .tab-container li .tab-trigger.is-active:before {
	transform: scale(1);
}
.content .section._02 .tab-container li .tab-trigger.is-active span {
	opacity: 1;
	transition: all 0.1s linear;
}

.content .section._03 {
	padding: 40px 0 48px;
}
.content._main .section .title-block .prj-title .text em {
	font-size: 20px;
}
.content .section._03 .title-block .sub {
	margin: 10px 0 20px;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: -0.05em;
	font-weight: 700;
}
.content .section._03 .title-block .sub em {
	position: relative;
	color: #e3001a;
}
.content .section._03 .title-block .sub em:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #e3001a;
	opacity: 0.2;
}
.content .section._03 .title-block .sub b {
	color: #e3001a;
}
.content .section._03 .date-block {
	text-align: center;
	font-size: 0;
}
.content .section._03 .date-block dl {
	display: inline-block;
	font-size: 0;
}
.content .section._03 .date-block dl:first-child {
	margin-right: 8px;
}
.content .section._03 .date-block dl dt {
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: -0.05em;
	background-color: #6d6e71;
	padding: 5px 10px;
	border-radius: 10px;
	margin-right: 5px;
	vertical-align: middle;
}
.content .section._03 .date-block dl dd {
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
	vertical-align: middle;
}
.content .section._03 .img-group {
	/* width: 81.6%; */
	width: 289px;
	margin: 20px auto 15px;
}
.content .section._03 .dash-line {
	display: block;
	margin: 25px 33px;
	border-bottom: 1px dashed #e3001a;
}
.content .section._03 .benefit-area {
	text-align: center;
}
.content .section._03 .benefit-area .tt {
	font-size: 17px;
	font-weight: 800;
	color: #e3001a;
	letter-spacing: -0.05em;
	margin-bottom: 8px;
}
.content .section._03 .benefit-area .sub {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.content .section._03 .benefit-area ul {
	display: flex;
	align-items: center;
	padding: 0 34px;
	margin-top: 19px;
}
.content .section._03 .benefit-area ul li {
	position: relative;
}
.content .section._03 .benefit-area ul li:first-child {
	margin-right: 31px;
}
.content .section._03 .benefit-area ul li .cnt-ball {
	position: absolute;
	top: 0;
	right: 0;
	width: 46.5px;
	height: 46.5px;
	background: url(../images/benefit_deco.png) 50% / cover no-repeat;
	text-align: center;
}
.content .section._03 .benefit-area ul li .cnt-ball span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	font-weight: 800;
	color: #ffffff;
}
.content .section._03 .benefit-area ul li p {
	margin: 8px 0 13px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.3;
}
.content .section._03 .benefit-area ul li p b {
	font-weight: 800;
}
.content .section._03 .benefit-area ul li button {
	display: block;
	width: 112px;
	height: 37px;
	margin: 0 auto;
	background-color: #58585a;
	border-radius: 19px;
	color: #ffffff;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
}

.content .section._04 {
	padding: 40px 0 18px;
}
.content .section._04:after {
	content: none;
}
.content .section._04 .cute {
	position: absolute;
	top: -48px;
	right: 0;
	width: 101px;
}
.content .section._04 .tab-container-wrap {
	overflow-x: hidden;
	margin-top: 26px;
}
.content .section._04 .tab-container {
	width: auto;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	border-top: 1px solid #e3001a;
	border-bottom: 3px solid #e4e4e4;
}
.content .section._04 .tab-container li:first-child {
	flex-basis: 150px;
}
.content .section._04 .tab-container li {
	flex-basis: 130px;
	flex-grow: 1;
	flex-shrink: 0;
	position: relative;
}
.content .section._04 .tab-container li:last-child:after {
	content: none;
}
.content .section._04 .tab-container li:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 29px;
	margin-top: -14px;
	background-color: #cbcdcf;
}
.content .section._04 .tab-container li button {
	position: relative;
	/* padding: 8px 27px 17px; */
	padding: 8px 0 15px;
	text-align: center;
}
.content .section._04 .tab-container li button:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 5px;
	left: 50%;
	width: 5px;
	height: 5px;
	background-color: #e3001a;
	border-radius: 50%;
	margin-left: -3px;
	transform: scale(0);
	transition: all 0.1s ease;
}
.content .section._04 .tab-container li button .icon {
	margin: 0 auto 5px;
	display: block;
}
.content .section._04 .tab-container li button span {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.3;
	transition: color 0.1s ease;
}
.content .section._04 .tab-container li button.is-active span {
	color: #e3001a;
	font-weight: 800;
}
.content .section._04 .tab-container li button.is-active:after {
	transform: scale(1);
}
.content .section._04 .tips-video-container {
	padding: 20px 20px 6.5px;
}
#player-tips {
	display: block;
}

.content .section._04 .article-list li {
	text-align: left;
	background-color: #ffffff;
}
.content .section._04 .article-list li:nth-of-type(even) {
	background-color: #e9e9e9;
}
.content .section._04 .article-list li a {
	display: block;
	padding: 10px 20px;
	font-size: 0;
}
.content .section._04 .article-list li a .thumb {
	width: 59.5px;
	margin-right: 31px;
	display: inline-block;
	vertical-align: middle;
}
.content .section._04 .article-list li a .text {
	display: inline-block;
	vertical-align: middle;
}
.content .section._04 .article-list li a .text span {
	display: block;
	letter-spacing: -0.05em;
	font-weight: 700;
}
.content .section._04 .article-list li a .text span:first-child {
	font-size: 13px;
	margin-bottom: 7px;
}
.content .section._04 .article-list li a .text span:last-child {
	font-size: 11px;
	color: #868686;
	text-decoration: underline;
}

#footer {
	background: url(../images/copyright.png) center / 247px auto #333333 no-repeat;
	height: 63px;
}

/* input component */
input.input-text {
	width: 100%;
	height: 45px;
	background-color: #f0f0f0;
	font-family: 'Noto Sans Korean';
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.05em;
	padding: 0 20px;
	box-sizing: border-box;
}
select.select-box {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	height: 45px;
	background-color: #f0f0f0;
	background-image: url(../images/select_arrow.png);
	background-size: 10px 6px;
	background-position: 94% 50%;
	background-repeat: no-repeat;
	font-family: 'Noto Sans Korean';
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.05em;
	padding: 0 20px;
	box-sizing: border-box;
	text-align: center;
}
::-webkit-input-placeholder {
	color: #ababab;
	font-size: 14px;
} 
:-moz-placeholder {
	color: #ababab;
	font-size: 14px;
	opacity: 1;
}
::-moz-placeholder {
	color: #ababab;
	opacity: 1; 
	font-size: 14px;
}
:-ms-input-placeholder {
	color: #ababab; 
	font-size: 14px;
}
/* end input component */


.content .chk-trigger {
	position: relative;
	width: 100%;
	display: flex;
	padding-right: 20px;
	padding-left: 66px;
	justify-content: flex-start;
	align-items: center;
	border: 2px solid #f0f0f0;
	border-radius: 28px;
	height: 45px;
	text-align: left;
	background-color: #f0f0f0;
	transition: background-color 0.05s ease, transform 0.05s ease, box-shadow 0.05s ease, border 0.05s ease;
}
.content .chk-trigger .chk-shape {
	content: "";
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 33px;
	transform: translateY(-50%);
	width: 17px;
	height: 17px;
	background-color: #a4a4a4;
	border-radius: 50%;
	transition: all 0.25s ease;
}
.content .chk-trigger .chk-shape:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 4px;
	width: 14px;
	height: 10px;
	background-image: url(../images/checklist_chk_shape.png);
	background-repeat: no-repeat;
	background-size: 14px 10px;
}
.content .chk-trigger .text {
	font-size: 13px;
	/* font-weight: 700; */
	font-weight: 500;
	font-size: 3.46vw;
	letter-spacing: -0.05em;
	color: #333333;
	line-height: 1.2;
	transition: all 0.25s ease;
}
/* :active, */
.content .chk-trigger.fake-active {
	transform: translateY(2px);
	box-shadow: 7px 4.5px 10px 0px rgba(0, 0, 0, 0.13);
}
.content .chk-trigger.is-active {
	border: 2px solid #e3001a;
	background-color: #ffffff;
	box-shadow: 7px 4.5px 10px 0px rgba(0, 0, 0, 0.13);
}
.content .chk-trigger.is-active .chk-shape {
	background-color: #e3001a;
}
.content .chk-trigger.is-active .text {
	color: #e3001a;
}
.content .title-block .prj-title .text {
	display: inline-block;
	padding: 2px 8px;
	background-color: #e3001a;
	vertical-align: middle;
	font-size: 0;
}
.content .title-block .prj-title .text em {
	display: inline-block;
	font-weight: 800;
	color: #ffffff;
	letter-spacing: -0.05em;
	vertical-align: middle;
	font-size: 16px;
}
.content .title-block .prj-title .text .icon {
	display: inline-block;
	margin: 0 4px 0 2px;
	vertical-align: middle;
	width: 30px;
	height: 21.5px;
}


/* sub */
.content._sub {
	padding: 60px 0 0;
}
.content._sub #go-before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px;
	width: 12px;
	height: 21px;
	box-sizing: content-box;
	background: url(../images/sub_btn_before.png) 50% / 12px 21px no-repeat;
}
.content._sub #go-index {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	width: 22px;
	height: 21.5px;
	box-sizing: content-box;
	background: url(../images/sub_btn_home.png) 50% / 22px 21.5px no-repeat;
}
.content._sub .title-block {
	text-align: center;
}
.content._sub .title-block .prj-title .project-logo {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 4px;
	vertical-align: middle;
}
.content._sub .title-block .subject {
	font-size: 23px;
	line-height: 1.3;
	letter-spacing: -0.05em;
}
.content._sub .title-block .subject b {
	font-weight: 800;
	color: #e3001a;
}
.content.__gate {
	padding-bottom: 35px;
}
.content.__gate .title-block {
	margin-bottom: 20px;
}
.content.__gate .title-block .prj-title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 0;
}

.content.__gate .title-block .prj-title .text em {
	font-size: 16px;
}

.content.__gate .title-block .prj-title .text .icon {
	width: 30px;
	height: 21.5px;
}

.content.__gate .cat-block {
	border-bottom: 1px solid #e3001a;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.content.__gate .input-wrapper .message {
	text-align: center;
	font-size: 17px;
	letter-spacing: -0.05em;
	line-height: 1.2;
	margin-bottom: 30px;
}
.content.__gate .input-wrapper .message b {
	font-weight: 800;
	color: #e3001a;
}
.content.__gate .input-wrapper {
	padding: 0 20px;
}
.content.__gate .input-wrapper .input-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.content.__gate .input-wrapper .input-group label {
	flex-basis: 30%;
	flex-shrink: 0;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.content.__gate .input-wrapper .radio-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 0 21px;
}
.content.__gate .input-wrapper .radio-wrap span {
	font-size: 14px;
	letter-spacing: -0.05em;
	font-weight: 700;
}
.content.__gate .input-wrapper .radio-wrap div {
	font-size: 0;
}
.content.__gate .input-wrapper .radio-wrap .fake-radio:first-child {
	margin-right: 5px;
}
.content.__gate .input-wrapper .radio-wrap .fake-radio {
	border-radius: 50%;
	color: #ffffff;
	font-size: 13px;
	font-weight: 800;
	background-color: #a4a4a4;
	width: 20px;
	height: 20px;
}
.content.__gate .input-wrapper .radio-wrap .fake-radio.is-active {
	background-color: #e3001a;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger {
	border: 1px solid #f0f0f0;
	/* padding-right: 40px; */
	height: auto;
	padding: 8px 40px 8px 60px;
}
.content.__gate .input-wrapper .chk-trigger .chk-shape {
	left: 23px;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger .text {
	line-height: 1.3;
	/* padding: 10px 0; */
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger:first-child {
	margin-bottom: 10px;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger.is-active {
	border: 1px solid #e3001a;
	box-shadow: none;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger:after {
	content: "";
	position: absolute;
	right: 20px;
	top: 50%;
	width: 6.5px;
	height: 11.5px;
	background: url(../images/agree_arrow.png) 50% / 6.5px 11.5px no-repeat;
	margin-top: -6px;
	transition: background 0.05s ease;
}
.content.__gate .input-wrapper .agree-wrap .chk-trigger.is-active:after {
	background: url(../images/agree_arrow_active.png) 50% / 6.5px 11.5px no-repeat;
}
.content.__gate #go-next {
	margin-top: 34px;
}
#agree-popup .inner {
	padding: 32px 20px;
}
#agree-popup .agree-wrap .block {
	margin-bottom: 20px;
}
#agree-popup .agree-wrap .block:last-child {
	margin-bottom: 0;
}
#agree-popup .agree-wrap .block h5 {
	font-size: 11px;
	letter-spacing: -0.05em;
	font-weight: 800;
	margin-bottom: 5px;
	text-align: left;
}
#agree-popup .agree-wrap .block p {
	font-size: 11px;
	letter-spacing: -0.05em;
	line-height: 1.5;
	text-align: left;
}

.content.__checklist {
	min-height: calc(100% - 63px);
	padding: 60px 0 40px;
}
.content.__checklist .title-block {
	margin-bottom: 18px;
}
.content.__checklist .prj-title {
	margin-bottom: 20px;
}
.content.__checklist .indicator-block {
	text-align: center;
	margin-bottom: 30px;
}
.content.__checklist .indicator-block .guide {
	margin-bottom: 27px;
	font-size: 0;
}
.content.__checklist .indicator-block .guide .icon {
	display: inline-block;
	width: 18.5px;
	height: 28px;
	margin-right: 4px;
	vertical-align: middle;
}
.content.__checklist .indicator-block .guide span {
	display: inline-block;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #e3001a;
	vertical-align: middle;
}
.content.__checklist .indicator-block .indicator {
	font-size: 0;
}
.content.__checklist .indicator-block .indicator li {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background-color: #e3001a;
	margin-right: 7px;
}
.content.__checklist .indicator-block .indicator li:last-child {
	margin-right: 0;
}
.content.__checklist .indicator-block .indicator li.is-current {
	width: 21px;
}
.content.__checklist .checklist-container {
	overflow: hidden;
}
.content.__checklist .list-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.content.__checklist .list-wrapper .group {
	width: 100%;
	padding: 0 24px;
	flex-shrink: 0;
}
.content.__checklist .list-wrapper li {
	margin-bottom: 10px;
	opacity: 0;
	visibility: hidden;
}
.content.__checklist .list-wrapper li:last-child {
	margin-bottom: 0;
}
.content.__checklist .list-wrapper .group:first-child li {
	opacity: 1;
	visibility: visible;
}
.content.__checklist #go-next {
	display: block;
	margin: 35px auto 0;
	width: 201px;
}

.content.__result {
	padding: 60px 0 31px;
}
.content.__result .loading-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: #ffffff;
}
.content.__result .loading-layer .wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.content.__result .loading-layer .wrapper .project-logo {
	width: 100px;
	height: 100px;
	margin: 0 auto 20px;
}
.content.__result .loading-layer .wrapper h2 {
	font-size: 21px;
	color: #e3001a;
	letter-spacing: -0.05em;
	font-weight: 800;
	margin-bottom: 7px;
}
.content.__result .loading-layer .wrapper p {
	font-size: 11px;
	letter-spacing: -0.05em;
}
.content.__result .loading-layer .wrapper p b {
	color: #e3001a;
	font-weight: 800;
}
.content.__result .title-block {
	margin-bottom: 26px;
}
.content.__result .title-block .prj-title {
	margin-bottom: 20px;
}
.content.__result .cat-block {
	margin-bottom: 50px;
}
.content.__result .cat-block .info {
	margin: 10px 20px 0;
	font-size: 0;
	border-bottom: 3px solid #f0f0f0;
}
.content.__result .cat-block .info > div {
	display: inline-block;
	width: 50%;
	padding: 12px 0;
	text-align: center;
	font-size: 0;
}
.content.__result .cat-block .info > div span {
	display: inline-block;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: -0.05em;
}
.content.__result .cat-block .info > div span:first-child {
	margin-right: 3px;
}
.content.__result .chart-block {
	position: relative;
	/* padding: 0 20px; */
	/* padding: 0 33.8%; */
	text-align: center;
}
.content.__result .chart-block .logo {
	position: absolute;
	bottom: -54px;
	right: 20px;
	width: 127.5px;
	height: 21px;
	background: url(../images/result_graph_logo.png) 50% / 127.5px 21px no-repeat;
}
.content.__result .chart-block .chart-wrapper {
	display: inline-block;
	position: relative;
}
.content.__result .chart-block .chart-wrapper .labels {
	position: absoulte;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.content.__result .chart-block .chart-wrapper .labels span {
	position: absolute;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.025em;
	transition: all 1s ease-out;
}
.content.__result .chart-block .chart-wrapper .labels span.is-active {
	color: #e3001a;
	font-weight: 800;
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(1) {
	top: 0;
	left: 50%;
	transform: translate(-50%, -120%);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(2) {
	top: 30%;
	right: 0;
	transform: translate(110%, 0);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(3) {
	bottom: 0;
	right: 0;
	transform: translate(30%, 140%);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(4) {
	bottom: 0;
	left: 0;
	transform: translate(-40%, 140%);
}
.content.__result .chart-block .chart-wrapper .labels span:nth-child(5) {
	top: 30%;
	left: 0;
	transform: translate(-110%, 0);
}
.content.__result .chart-block .graph-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.content.__result .chart-block .chart-guideline {
	/* width: 100%; */
	width: 118px;
	/* height: 118px; */
	height: 111px;
	position: relative;
	z-index: 2;
}
.content.__result .advice-block {
	margin-top: 64px;
	background-color: #f0f0f0;
	/* padding: 27px 60px 30px; */
	padding: 27px 20px 30px;
	/* padding: 27px 17% 30px; */
	text-align: center;
}
.content.__result .advice-block .icon-wrap {
	font-size: 0;
	margin-bottom: 15px;
}
.content.__result .advice-block .icon-wrap .icon {
	width: 52px;
	display: inline-block;
	margin-right: 5px;
}
.content.__result .advice-block .icon-wrap .icon:last-child {
	margin-right: 0;
}
.content.__result .advice-block .adv-subject {
	font-size: 20px;
	letter-spacing: -0.05em;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 13px;
}
.content.__result .advice-block .adv-subject b {
	font-weight: 800;
	color: #e3001a;
}
.content.__result .advice-block .adv-text .adv-msg {
	display: block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.35;
	margin-bottom: 2px;
}
.content.__result .advice-block .adv-text .default-msg,
.content.__result .advice-block .adv-text .doctor-msg {
	display: block;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: -0.05em;
	line-height: 1.35;
	color: #e3001a;
}
.content.__result .notice-block {
	margin: 15px auto 21px;
	text-align: center;
}
.content.__result .notice-block p {
	font-size: 10px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.36;
}
/* .content.__result .noti-msg {
	width: 289.5px;
} */

.content.__request {
	padding: 60px 0 36px;
}
.content.__request .title-block {
	margin-bottom: 26px;
}
.content.__request .title-block .prj-title {
	margin-bottom: 20px;
}
.content.__request .location-selector {
	border-top: 1px solid #e3001a;
	border-bottom: 4px solid #f0f0f0;
	font-size: 0;
}
.content.__request .location-selector .loc-trigger {
	position: relative;
	display: inline-block;
	font-size: 0;
	text-align: center;
	width: 50%;
	padding: 10px 0 6px;
}
.content.__request .location-selector .loc-trigger:first-child:after {
	display: block;
	content: "";
	width: 1px;
	height: 13px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6.5px;
	background-color: #a4a4a4;
}
.content.__request .location-selector .loc-trigger img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
.content.__request .location-selector .loc-trigger[data-loc="central"] img {
	width: 23px;
}
.content.__request .location-selector .loc-trigger[data-loc="other"] img {
	width: 23.5px;
}
.content.__request .location-selector .loc-trigger p {
	position: relative;
	display: inline-block;
	font-size: 13px;
	vertical-align: middle;
	letter-spacing: -0.05em;
	font-weight: 700;
}
.content.__request .location-selector .loc-trigger p:after {
	content: "";
	display: block;
	position: absolute;
	top: -6px;
	right: -9px;
	width: 4px;
	height: 4px;
	background-color: #e3001a;
	border-radius: 50%;
	transform: scale(0);
}
.content.__request .location-selector .loc-trigger.is-active p:after {
	transform: scale(1);
}
.content.__request .location-selector .loc-trigger.is-active p {
	/* font-weight: 800; */
	color: #e3001a;
}
.content.__request .location-selector .loc-trigger:last-child p {
	font-weight: 500;
	font-size: 12px;
}
.content.__request .location-selector .loc-trigger:last-child p b {
	display: block;
	margin-top: 3px;
	font-size: 18px;
	font-weight: 800;
}
.content.__request .input-wrapper {
	padding: 0 20px;
}
.content.__request .input-wrapper .tip {
	/* display: flex; */
	margin: 23px 0 26px;
	/* font-size: 0; */
	/* text-align: left; */
	/* border-radius: 9px; */
	/* overflow: hidden; */
	/* flex-wrap: nowrap; */
}
.content.__request .input-wrapper .tip span {
	vertical-align: middle;
	background-color: #e3001a;
	color: #ffffff;
	font-size: 10px;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: -0.05em;
	padding: 3px 0;
	flex-basis: 65px;
	flex-shrink: 0;
	text-align: center;
}
.content.__request .input-wrapper .tip em {
	letter-spacing: -0.05em;
	font-size: 10px;
	padding: 3px 7px;
	line-height: 1.2;
	font-weight: 800;
	vertical-align: middle;
	color: #ffffff;
	background-color: #6d6e71;
	flex-shrink: 1;
	flex-basis: 100%;
}
.content.__request .input-wrapper .row {
	margin-bottom: 20px;
}
.content.__request .input-wrapper .row .input-group {
	font-size: 0;
}
.content.__request .input-wrapper .row .input-group label {
	display: block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.05em;
	margin-bottom: 12px;
}
.content.__request .input-wrapper .row .input-group._addr .select-box {
	width: 32%;
	margin-right: 2%;
	vertical-align: top;
}
.content.__request .input-wrapper .row .input-group._addr #addr-search {
	width: 32%;
	background: url(../images/icon_magnify.png) 50% / 18.5px 18.5px no-repeat #58585a;
	height: 45px;
	vertical-align: top;
}
.content.__request .input-wrapper .row .input-group._tel .input-text {
	width: 32%;
	margin-right: 2%;
}
.content.__request .input-wrapper .row .input-group._tel #req-phone3 {
	margin-right: 0;
}
.content.__request .input-wrapper .row .input-group._tel .guide-msg {
	color: #e3001a;
}
.content.__request .input-wrapper .row .input-group .guide-msg {
	margin-top: 10px;
	font-size: 10px;
	line-height: 1.3;
	letter-spacing: -0.05em;
	text-align: left;
}
.content.__request .input-wrapper .row .input-group .guide-msg b {
	color: #e3001a;
}
.content.__request .go-next {
	margin-top: 36px;
}

/* end sub */


/*popup*/
html.menu-opened,
html.popup-opened {
	overflow: hidden;
}
.popup-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
	/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}

.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap.is-opened .out-area {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	cursor: pointer;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup-wrap.is-opened .popup {
	transform: scale(1) translateY(0);
}
.popup {
	display: none;
	position: relative;
	z-index: 2;
	vertical-align: middle;
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	/* -webkit-transition: all 0.35s ease; */
	transition: all 0.35s ease;
	transform: scale(0) translateY(10px);
	width: 100%;
	padding: 0 20px;
	margin: 40px 0;
	background-color: transparent;
}
.popup .inner {
	position: relative;
	background-color: #ffffff;
	padding: 56px 0 50px;
	border-radius: 11px;
	text-align: center;
}
.popup .popup-close {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -25px;
	right: 0;
	background: url(../images/popup_close.png) 50% / cover no-repeat;
}
.popup._reward .inner {
	/* overflow: hidden; */
	padding-bottom: 0;
}
.popup#reward1-popup .title-block {
	margin-bottom: 12px;
}
.popup#reward1-popup .title-block .title {
	font-size: 19px;
	font-weight: 500;
	letter-spacing: -0.05em;
	color: #e3001a;
	line-height: 1.2;
}
.popup#reward1-popup .title-block .title b {
	font-weight: 800;
}
.popup#reward1-popup .r-img {
	width: 202px;
	margin: 0 auto 5px;
}
.popup#reward1-popup .text {
	font-size: 12px;
	letter-spacing: -0.05em;
	line-height: 1.3;
	font-weight: 700;
	margin-bottom: 35px;
}
.popup#reward1-popup .text b {
	color: #e3001a;
	font-weight: 800;
}
.popup#reward1-popup .guide-block {
	padding: 20px 22px 23px;
	background-color: #f0f0f0;
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
}
.popup#reward1-popup .guide-block dl {
	display: flex;
	text-align: left;
	font-size: 11px;
	letter-spacing: -0.05em;
	font-weight: 700;
	margin-bottom: 3px;
	align-items: flex-start;
}
.popup#reward1-popup .guide-block dl:last-child {
	margin-bottom: 0;
}
.popup#reward1-popup .guide-block dl dt {
	flex-shrink: 0;
}
.popup#reward1-popup .guide-block dl dd {
	margin-left: 2px;
	line-height: 1.2;
}
.popup#reward2-popup .title-block {
	position: relative;
	text-align: left;
	margin-bottom: 17px;
	padding-left: 27px;
}
.popup#reward2-popup .title-block .title {
	font-size: 19px;
	letter-spacing: -0.05em;
	color: #e3001a;
	font-weight: 800;
	line-height: 1.3;
	margin-bottom: 8px;
}
.popup#reward2-popup .title-block .sub {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.popup#reward2-popup .title-block .prd-img {
	position: absolute;
	top: -12%;
	right: 7%;
	/* width: 62px; */
	width: 18.5%;
}
.popup#reward2-popup .r-img {
	width: 266px;
	margin: 26px auto 20px;
}
.popup#reward2-popup .guide-block {
	padding: 20px 34px 32px;
}
.popup#reward2-popup .guide-block p {
	font-size: 17px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #e3001a;
	text-align: center;
	margin-bottom: 31px;
}
.popup#reward2-popup .notice-block {
	padding: 20px 34px 22px;
	background: #e3001a;
	border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
}
.popup#reward2-popup .notice-block p {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.05em;
	color: #fff;
	text-align: center;
	line-height: 1.3;
}
.popup#reward2-popup .notice-block p:last-child {
	font-weight: 700;
	margin-top: 8px;
}
.popup._req .title-block {
	margin-bottom: 30px;
}
.popup._req .title-block .title {
	font-size: 17px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #e3001a;
}
.popup._req .title-block .sub {
	margin-top: 10px;
	font-size: 10px;
	letter-spacing: -0.05em;
}
.popup._req .title-block .sub b {
	color: #e3001a;
	font-weight: 800;
}
.popup._req .list-block {
	border-top: 1px solid #8c8c8c;
	border-bottom: 1px solid #8c8c8c;
	margin-bottom: 30px;
}
.popup._req .list-block ul {
	padding: 0 20px;
	max-height: 300px;
	overflow-y: auto;
}
.popup._req .list-block ul li {
	border-bottom: 1px solid #d1d1d1;
}
.popup._req .list-block ul li:last-child {
	border-bottom: 0;
}
.popup._req .list-block ul li .hospi-trigger {
	position: relative;
	display: block;
	width: 100%;
	padding: 20px 0 20px 37px;
	text-align: left;
}
.popup._req .list-block ul li .hospi-trigger .chk-shape {
	content: "";
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 17px;
	height: 17px;
	background-color: #a4a4a4;
	border-radius: 50%;
	transition: all 0.25s ease;
}
.popup._req .list-block ul li .hospi-trigger .chk-shape:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 4px;
	width: 14px;
	height: 10px;
	background-image: url(../images/checklist_chk_shape.png);
	background-repeat: no-repeat;
	background-size: 14px 10px;
}
/* :active, */
.popup._req .list-block ul li .hospi-trigger.is-active .chk-shape {
	background-color: #e3001a;
}
.popup._req .list-block ul li .hospi-trigger .h-name {
	font-size: 13px;
	font-weight: 800;
	letter-spacing: -0.05em;
	margin-bottom: 5px;
}
.popup._req .list-block ul li .hospi-trigger .h-addr {
	font-size: 12px;
	letter-spacing: -0.05em;
	line-height: 1.2;
}
.popup._req .hospi-select {
	width: 201px;
	margin-bottom: 13px;
}
#hospi-popup .guide-msg {
	padding: 0 20px;
}
.popup._req .guide-msg {
	color: #e3001a;
	font-size: 10px;
	letter-spacing: -0.05em;
	line-height: 1.3;
}
#other-popup .inner {
	padding-left: 20px;
	padding-right: 20px;
}
#other-popup .title-block {
	margin-bottom: 20px;
}
#other-popup .naver-search {
	display: block;
	margin: 27px 0;
}
#other-popup .input-wrapper {
	padding: 0;
	margin-bottom: 32px;
}
#other-popup .input-wrapper .input-group {
	margin-bottom: 20px;
}
#other-popup .input-wrapper .input-group:last-child {
	margin-bottom: 0;
}
#other-popup .input-wrapper .input-group label {
	display: block;
	font-size: 14px;
	letter-spacing: -0.05em;
	margin-bottom: 15px;
	text-align: left;
	font-weight: 700;
}

#complete-popup .inner {
	padding: 38px 0 46px;
}
#complete-popup .title-block .project-logo {
	width: 47px;
	margin: 0 auto 16px;
}
#complete-popup .title-block .sub {
	font-size: 20px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #e3001a;
	line-height: 1.3;
	margin-bottom: 20px;
}
#complete-popup .date-block {
	text-align: center;
	margin-bottom: 28px;
}
#complete-popup .date-block dl:first-child {
	margin-bottom: 7px;
}
#complete-popup .date-block dl dt {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: -0.05em;
	font-weight: 800;
	margin-right: 3px;
}
#complete-popup .date-block dl dd {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: -0.05em;
	font-size: 12px;
}
#complete-popup .benefit-area ul {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 26px;
}
#complete-popup .benefit-area ul li {
	text-align: center;
	margin-right: 30px;
}
#complete-popup .benefit-area ul li:last-child {
	margin-right: 0;
}
#complete-popup .benefit-area ul li img {
	width: 137px;
	margin: 0 auto 10px;
}
#complete-popup .benefit-area ul li h5 {
	font-size: 12px;
	font-weight: 800;
	letter-spacing: -0.05em;
	margin-bottom: 5px;
}
#complete-popup .benefit-area ul li p {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.2;
}
#complete-popup .benefit-area .noti-img {
	margin-top: 38px;
	padding: 0 20px;
}
#complete-popup #btn-complete {
	width: 201px;
	margin-top: 25px;
}
@media screen and (max-width: 350px) {
	.content .section._03 .date-block {
		padding: 0 20px;
		text-align: left;
	}
	.content .section._03 .date-block dl:first-child {
		margin-bottom: 5px;
	}
	.popup#reward2-popup .title-block .title {
		font-size: 16px;
	}
	.popup#reward2-popup .title-block .sub {
		font-size: 10px;
	}
	.content.__request .input-wrapper .tip span {
		margin-bottom: 3px;
	}
	#complete-popup .benefit-area ul {
		padding: 0 20px;
	}
	#complete-popup .date-block dl dd {
		line-height: 1.3;
	}
}
@media screen and (min-height: 630px) {
	#menu-layer .cat {
		position: absolute;
		bottom: 0;
		margin: 0;
	}
}
@media screen and (max-height: 530px) {
	.content .section._01 .scoll-down-group {
		bottom: 1.5%;
	}
	/* .content .section._01 .scoll-down-group .anim._1 {
		animation-iteration-count: 0;
		transform: translateY(100%);
	}
	.content .section._01 .scoll-down-group .anim._2:before {
		display: none;
		animation-iteration-count: 0;
	} */
}